body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li,span{
	margin:0;
	padding:0;
	}
body{
	font-size:12px;
	font-family:"微软雅黑";
	}
ol,ul,li{
	list-style:none;
	}
a{
	text-decoration:none;
	display:block;
	}
img{
	 display:block;
	 border:none;
	}
html,body,ul,li{
	height: 100%;
	box-sizing: border-box;
}

.clearfix:after{
	overflow:hidden;
	visibility:hidden;
	content:".";
	display:block;
	height:0px;
	clear:both;
	}
.essay {
	width: 0;
	height: 100%;
	background: url(../img/essay/essay1.jpg) no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
	/*display:none;*/
	z-index: 6;
	transition: 300ms;
	overflow: hidden;
}
.essayLeft {
	width: 300px;
	height: 100%;
	background: transparent;
	position: absolute;
/*	z-index: 1;*/
	top: 0;
	left: 0;
}
.essayMenu {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 30px auto 0;
	position: relative;
	box-shadow: 3px 3px 6px #000;
}
.menuBox {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: transparent;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
}
.menuBox.colorChange {
	background: indianred;
	opacity: 0.2;
}
.menuBtn {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
	margin: 15px;
	text-align: center;
	font: 40px/150px '微软雅黑';
	text-shadow: 1px 1px 3px #aaa;
	color: #000;
	
}
.menuBtn.colorChan {
	background: darkred;
	opacity: 0.8;
}
.essayContBox {
	height: 100%;
	padding:0px 200px 0px 300px;
	overflow: hidden;
}
.essayContBox div{
	/*height: 100%;*/
	box-sizing: border-box;
}
.essayContPo {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.essayContRight{
	height: 300%;
	width: 100%;
	transition: all 2s ease;
	position:absolute;
	top: 0px;
	left: 0px;
}
/*第一部分开始*/
.essaySection1 {
	text-shadow: 1px 1px 3px #aaa;
	width: 100%;
	height: 33.3334%;
}
.essaySection1 ul {
	height: 100%;
	width: 100%;	
	box-sizing: border-box;
	padding: 32px 50px;
	position: absolute;
	transition: all 500ms ease;
	top: 0px;
	left: 0px;
}
.essaySection1 li {
	height: 80px;
	box-sizing: border-box;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.6);
	border-left-width: 20px;
	border-left-style: solid;
	border-image: -webkit-linear-gradient(rgba(255,0,255,0), rgba(255,255,255,0.6)) 35 4;
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
	transition: all 500ms ease;
}
.essaySection1 .activeSec1ul{
	height: 31%;
}
.essaySection1 li:hover .essaySec1tle{
	padding-left: 60px;
}
.essaySec1tle {
	height: 80px;
	width: 100%;
	font: 16px/80px "微软雅黑";
	text-align: left;
	color: #000000;
	box-sizing: border-box;
	padding: 0px 20px;
	transition: all 500ms ease;
}
.essaySec1con {
	box-sizing: border-box;
	padding:0px 30px;
	overflow: auto;
}
.essaySec1con p {
	text-indent: 32px;
	font: 16px/40px "微软雅黑";
}
.essaySec1tle span{
	width: 150px;
	height: 80px;
	display: block;
	float: right;
}
/*第二部分开始*/
.essaySection2 {
	text-shadow: 1px 1px 3px #aaa;
	width: 100%;
	height: 33.3334%;
	position: relative;
}
.essaySection2 ul {
	padding: 32px 0px;
	padding-left: 200px;
	height: 100%;
	width: 100%;	
	box-sizing: border-box;
}
.essaySection2 li {
	width: 100%;
	height:120px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
}
.essaySec2Common{
	width: 800px;
    height: 120px;
    top: 0px;
    left: 50%;
    margin-left: -400px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 120px 100px 0px;
}
.essaySec2bac1{
	background: url(../img/essay/essay2-1.png) no-repeat left  top;
}
.essaySec2bac2{
	background: url(../img/essay/essay2-2.png) no-repeat left  top;
}
.essaySec2bac3{
	background: url(../img/essay/essay2-3.jpg) no-repeat left  top;
}
.essaySec2bac4{
	background: url(../img/essay/essay2-4.jpg) no-repeat left  top;
}
.essaySec2Common h2{
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 0;
    left: 0;
}
.essaySec2Common div{
	width: 600px;
	height: 75%;
	box-sizing: border-box;
	overflow: auto;
	padding: 20px 90px;
}
.essaySec2Common p{
	text-indent: 32px;
	font: 16px/40px "微软雅黑";
}
/*第二部分结束*/
/*第三部分开始*/
.essaySection3 {
	text-shadow: 1px 1px 3px #aaa;
	width: 100%;
	height: 33.3334%;
	position: relative;
}
.essaySection3 ul{
	height: 100%;
	width: 100%;
	padding: 32px;	
	overflow: hidden;
	box-sizing: border-box;
}
.essaySection3 li{
	height: 100%;
    width: 60px;
    margin-right: 16px;
    cursor: pointer;
    float: left;
    position: relative;
}
.essaySec3Common{
	width: 60px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: #d9cecc;
	transition: all 300ms ease;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	transform: scale(.9);
}
.essaySec3Common:hover{
	transform: scale(1);
}
.essaySec3Common.active{
	transform: scale(1);
	transition: none;
}
.essaySec3Common h2{
	height: 100%;
	width: 60px;
	padding: 160px 18px 0;
	box-sizing: border-box;
	float: left;
	font-size: 24;
	text-shadow: 1px 1px 3px #aaa;
	background: url(../img/essay/essay3-1.png) no-repeat left top;
}
.essaySec3Common div{
	width: 750px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	overflow: auto;
	padding: 20px 20px;
}
.essaySec3Common p{
	text-indent: 32px;
	font: 16px/40px "微软雅黑";
}
/*第三部分结束*/
.essayContRight>.essayCommon{
	width:100%;
	height: 33.3334%;	
}
