body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li{
	margin:0;
	padding:0;
	}
/*html{
	width: 100%;
	height: 100%;
}*/
body{
	width: 100%;
	height: 100%;
	font-size:12px;
	font-family:"微软雅黑";
	}
ol,ul,li{
	list-style:none;
	}
a{
	text-decoration:none;
	display: block;
	}
img{
	border:0;
	display: block;
	}
	#work{
		z-index: 6;
		width: 95%;
		height: 100%;
		position:absolute;
		top: -100%;
		left: 5%;
		display: none;
		overflow: hidden;			
	}
	.jspScrollable{
		width: 1200px;
		height: 662px;
		padding-left:90px;
		position: relative;
	}
	.work_jspPane{
		position: absolute;
	}
	.content{
		width: 100%;
		height: 100%;
		padding: 1px 32px 0 0 ;
		position: relative;
	}
	.timeLine{
		width: 200px;
		height: 100%;
		border-right:4px solid #149b70;
		position: absolute;
		
	}
	.work_content{
		width: 100%;
		height: 100%;
		padding-top: 20px;
		color: #149b70;
	}
	.work_item{
		width: 1000px;
		height: 50px;
		padding-left: 240px;
		position: relative;
	}
	.year_flag{
		width: 180px;
		height: 60px;
		line-height: 31px;
		font-size: 22px;
		text-align: right;
		padding-right:21px;
		position: absolute;
		left: 0;
	}
	.glyphicon{
		width: 25px;
		height: 25px;
		display: inline-block;
		border: 4px solid #149b70;
		border-radius: 20px;
		line-height: 32px;
		text-align: center;
		font-size: 18px;
		position: absolute;
		font-style: normal;
		right: -17px;
		top: 1px;
		background: #FFFFFF;
	}
	.mouth_flag{
		width: 180px;
		height: 60px;
		line-height: 31px;
		font-size: 16px;
		text-align: right;
		padding-right:24px;
		position: absolute;
		left: 0;
	}
	.abs{
		 width: 12px;
	    height: 12px;
	    background: #149b70;
	    display:block;
	    position: absolute;
	    top: 10px;
	    right: -4px;
	    border-radius: 50%;
	}
	
	
	/*滚动条*/
	#workBox{
		width: 10px;
		height: 100%;
		position: absolute;
		background: #000000;
		opacity: 0.1;
		top: 0;
		right: 0px;
	}
	#workBar{
		width: 10px;
		height: 45px;
		border-radius: 5px;
		background: #000000;
		opacity: 0.3;
		position: absolute;
		top: 0;
		right: 0;
	}
